/*BANNERS*/

.banner{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 30px;
	background:  radial-gradient(gray, black);
	color: goldenrod;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	margin-bottom: 10px;
	border: solid;
	border-color: black;
}

#bannerEnDanes{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 30px;
	background:  radial-gradient(goldenrod, black);
	color: black;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;

}