/*BANNERS*/

.banner{
	height: auto;
	width: 100%;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 30px;
	background-color: #FFFFCF;
	color: goldenrod;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	margin-bottom:1px;
	
}

#bannerEnDanes{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 30px;
	background:  radial-gradient(goldenrod, black);
	color: black;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;

}