/*FOOTERS*/





#footerEnDanes{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 30px;
	background: radial-gradient(goldenrod, black);
	color: black;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

}
.footerEnDanes a{
	text-decoration: none;
	color: black;
	font-family: 'Noto Sans JP', sans-serif ;
	font-size: 30px;
}

.nuevoFooter{
	font-size: 25px;
	display: flex;
	flex-wrap: wrap;
	flex-flow: row;
	align-items: space-evenly;
	background-color: #071E22;
	color: #247BA0;
	padding-top: 10px;
	padding-bottom:10px;

}
.nuevoFooter a{
	text-decoration: none;
	color: #247BA0;
	font-family: 'Noto Sans JP', sans-serif;
}



.nuevoFooterDanes{
	@extend.nuevoFooter;
	position:absolute;
  	bottom:0;
 	width:100%;
  	height:60px;   
   	background: #F6F7EB;
   	padding-top:0px;
}
