/*FORMULARIOS*/

form input, select, textarea{
	margin-top: 10px;
	margin-left: 25px;
	padding: 2px;
	
}
.formContacto{
	padding-bottom: 20 px;
	padding-left: 25px;
}
#checkBoxLegales label{
	font-family: 'Mukta', sans-serif;
	font-size:  20px;
	font-weight: 40;
	color: darkgoldenrod;
	text-align: center;
	text-transform: none;
}

#checkBoxMedica{
	font-family: 'Mukta', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: darkgoldenrod;
	text-transform: uppercase;
}

label{
	text-transform: uppercase;
	font-family: 'Mukta', sans-serif;
	font-size:  20px;
	font-weight: 40;
	color: #9ECE9A;
}