/*LISTAS*/

.oLista{
	color: #9ECE9A;
	font-weight: 200;
	font-family: 'Noto Sans JP', sans-serif;
	text-align: left;	
	margin-left: 5em; 
}

ul li{
	color: #9ECE9A;
	font-weight: 200;
	font-family: 'Noto Sans JP', sans-serif ;
	text-align: left;
	text-decoration: none;
	margin-left: 5em;
}