/*MEDIA QUERIES*/
@media (max-width: 768px) {
	
  .iconoFacebook {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  bottom: 100px;
  right: 30px;
  background: black;
  color: #fff;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.iconoFacebook a {
  text-align: center;
  padding: 6px;
  color: whitesmoke;
  font-size: 20px;
}	

.iconoFacebook a:hover {
  background-color: darkgoldenrod;
  transform: scale(1.5);
  transition: 5seg;
}

.nuevoFooter{
  font-size: 25px;
  width: 100%;
  display: block;
  flex-wrap: wrap;
  flex-flow: row;
  align-items: space-evenly;
  background-color: black;
  color: darkgoldenrod;
  

}

.nuevoFooterDanes{
  display: none;
  bottom:0;
  width:100%;
  height:60px;   
  background:white;

.banner{
  display: none;
}

}
#footer{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
  height:8rem;
  background: radial-gradient(gray, black);
  color: goldenrod;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
.boxImg{
  color: #74A57F;
font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-flow: row;
  margin: 0;
  position: relative;
}
.containerLanding{
  display: flex;
  flex-flow: row;
  flex-direction: column;
  align-content: center;
  align-items: center;
}


.contenidOverlay{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #74A57F;
  text-transform: uppercase;
  font-size: 60px;
}

.contenidOverlay span{
  font-size: 24px;
  display: block;

}

.contenidOverlayDanes{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: darkgoldenrod;
  text-transform: uppercase;
  font-size: 60px;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100% !important; 
  width: 100% !important;
  opacity: 0;
  transition: 2s ease;
  background-color: #010607;
}

.boxImg:hover .overlay{
  opacity: 0.9;
  
}

.bannerImg{
  width: 100%;
  height: auto;
}

.banner{
	height: auto;
	width: 100%;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 30px;
	background-color: #FFFFCF;
	color: goldenrod;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	margin-bottom:1px;
	
}

}