/*TABLAS*/
.tabla{
	background-color: #074F57 ;
	display: block;
	flex-flow: row;
	align-content: space-evenly;
	font-family: 'Mukta', sans-serif;
	width: 100%;
	height: 25%;
	border-collapse: collapse;	
	color: #9ECE9A ;
	font-size: 75%;
	border: 2px solid goldenrod;
	padding: 8px;
	
}

.thResponsive{
	width: 100%;
	background-color:  #071E22;
	color:#074F57
}
/*La grilla se aplica a la tabla*/
#grilla {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(2,2fr);
	grid-gap: 0;
	border-top:1px solid #9ECE9A;
	border-right:1px solid #9ECE9A;
	font-family: 'Mukta', sans-serif;
}

#grilla span{
	padding: 8px 4px;
	border-left: 3px solid #9ECE9A;
	border-bottom: 3px solid #9ECE9A;
	color:rgb(255, 183, 0);
	
}

.grillaTop{
	background-color:#071E22 ;
	color:#074F57;

}