/*IMÁGENES*/

.boxImg{
    width: 100%;
    display: flex;
    align-content: center;
}



.informacionImg{
display: block;
max-width: 100%;
max-height: 100%;
transition: 2s;
}
.informacionImg:hover{
    transform: scale(1.5);
    opacity: 1;
}


.estudiantesImg{
   @extend.informacionImg;
}

.instructoresImg{
   @extend.informacionImg;
}

.espaciosImg{
    @extend.informacionImg;
}

.imagenChoi{
    align-content: center;
}